body {
    background-color: #0066CC;
    margin:0;
}

h1 {
    color: white;
    text-align: center;
    background-color: navy;
    margin:0 auto;
    padding: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

h2 {
    text-align: center;
    color: white;
    margin:0 auto;
    padding: 5px;
}

.indexButton {
    text-align: center;
    color: navajowhite;
    background-color: navy;
    font-size: large;
    display: inline-block;

}

.indexButton:hover {
    background-color: navajowhite;
    color: navy;
    cursor: pointer;
}

.indexButtonActive {
    text-align: center;
    color: navy;
    background-color: navajowhite;
    font-size: large;
    display: inline-block;
}

.indexButtonActive:hover {
    background-color: navy;
    color: navajowhite;
    cursor: pointer;
}

.teamImg {
    border: 5px solid navy;
    border-radius: 50px;
    margin: 10px auto;
    position: relative;
    width: 75%;
    height: auto;

}

row {
    display: flex;
    justify-content: center;
}

imgcaption {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size:max(0.5vw, 1vw);
}

figure {
    text-align: center;
}

p {
    text-align: center;
    color: white;
    font-size: large;
    margin: 0 auto;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 20px;
    margin: 0;
}

footer p {
    color: black;
    font-size: small;
}

#footerImg {
    width: 300px;
    height: auto;
    margin: 0;
}

#footerText {
    font-size: xx-small;
}

#contactForm {
    display: block;
    margin: 0 auto;

}

table {
    margin: 0 auto;
    border: 2px solid navajowhite;
    border-collapse: seperate;
    background-color: navy;
    width: auto;
    height: 150%;
    font-size: larger;

}

#tableHeader {
    font-size: x-large;
    text-decoration: underline;
}

.tableTitle {
    border: 2px solid navajowhite;
    background-color: navajowhite;
    color: navy;
    padding: 10px;
    font-size: x-large;
}

.tableContent {
    color: navajowhite;
    padding: 10px;
}

#hobbyList {
    text-align: left;
    margin: 0 auto;
    color: navajowhite;
    font-size: larger;

}

.centerList {
    display: flex;
    text-align: center;
}

#hobbyTitle {
    text-align: center;
    color: white;
    font-size: x-large;
}

#welcomeMessage p {
    margin: 0 auto;
    padding: 20px;
    font-size: x-large;
}